body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
    align-items: center;
    background-color: #400a58;
}

.title {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 40px;
    text-align: left;
}

.Logo {
    width: 60px;
    height: 60px;
    margin: 15px;
}

body{
    background-color: azure;
}

.four-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 20px;
    margin: auto;
    margin-top: 60px;
    align-items: center;
    text-align: center;
}

.Cards {
    background-color: #6b3284;
    img {
        padding-top: 20px;
    }
}

.card_name {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 14px;
}

.pack {
    background-color: #6b3284;
    img {
        padding-top: 20px;
    }
}

.pack_name {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 14px;
}

#Destined-Rivals-Header {
    display: flex;
    position: relative;
    background-color: #6b3284;
}

.pack-image {
    padding: 15px;
    padding-left: 35px;
}

.pack_name {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 14px;
}

.pack-title {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 30px;
}

.pack-card-amount {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 20px;
}

.pack-info {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 250px;
}

.pack-card-amount {
    padding-left: 50px;
    padding-top: 12px;
}

.pack-card-info {
    position: absolute;
    bottom: 85px;
    left: 250px;
    z-index: 0;
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 14px;
    display: flex;
    gap: 25px;
    padding-bottom: 50px;
}

#Journey-Together-Header {
    display: flex;
    position: relative;
    background-color: #6b3284;
}

.pack-image {
    padding: 15px;
    padding-left: 35px;
}

.pack_name {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 14px;
}

.pack-title {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 30px;
}

.pack-card-amount {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 20px;
}

.pack-info {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 250px;
}

.pack-card-amount {
    padding-left: 50px;
    padding-top: 12px;
}

.pack-card-info {
    position: absolute;
    bottom: 85px;
    left: 250px;
    z-index: 0;
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 14px;
    display: flex;
    gap: 25px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

#Prismatic-Evolutions-Header {
    display: flex;
    position: relative;
    background-color: #6b3284;
}

.pack-image {
    padding: 15px;
    padding-left: 35px;
}

.pack_name {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 14px;
}

.pack-title {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 30px;
}

.pack-card-amount {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 20px;
}

.pack-info {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 250px;
}

.pack-card-amount {
    padding-left: 50px;
    padding-top: 12px;
}

.pack-card-info {
    position: absolute;
    bottom: 85px;
    left: 250px;
    z-index: 0;
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 14px;
    display: flex;
    gap: 25px;
    padding-bottom: 50px;
}

#Surging-Sparks-Header {
    display: flex;
    position: relative;
    background-color: #6b3284;
}

.pack-image {
    padding: 15px;
    padding-left: 35px;
}

.pack_name {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 14px;
}

.pack-title {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 30px;
}

.pack-card-amount {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 20px;
}

.pack-info {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 250px;
}

.pack-card-amount {
    padding-left: 50px;
    padding-top: 12px;
}

.Surging-Sparks-Card-Info {
    width: 800px;
    position: absolute;
    bottom: 85px;
    left: 250px;
    z-index: 0;
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 14px;
    display: flex;
    gap: 25px;  
    flex-wrap: wrap;
}

