.hero-image{
    background-image: url('images/hero.jpg');
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    font-family: 'Just Another Hand', cursive;
    color: azure;
    font-size: 50px;
}
body{
    background-color: #400a58;
}