body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

section {
  background-color: #400a58;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
    align-items: center;
}

.title {
    font-family: 'pokemonsolid', cursive;
    color: azure;
    font-size: 40px;
    text-align: left;
}

.Logo {
    width: 60px;
    height: 60px;
    margin: 15px;
}

body{
    background-color: azure;
}